extends layout
block content
  .w3-container
  .w3-card-4
    h1.w3-container.w3-brown Gestão de Entidades
    .w3-card-4
      .w3-card-4
        h3.w3-container.w3-brown Lista das Entidades
        table.w3-table-all(id='entidade')
          tr
            th Estado
            th Sigla
            th Sioe
            th Designação
            th Internacional
          each i in lista
            tr
              td= i.estado
              td= i.sigla
              td= i.sioe
              td= i.designacao
              td= i.internacional
              td
                  a.w3-blue.w3-square.w3-button(name=i.id href= "/" + i.id) Detalhes
    footer.w3-container.w3-black
      address Gerado por Daniel Faria